<div class="m-formControls {{ position }} {{ form.options.get('section_class', '')}} {{class}}">
    

        {% if not form.options.read_only %}
            <div class="m-formControls__actions actions">
                {{ buttons(form.actions)|raw }}
            </div>
        {% endif %}

        <div class="m-formControls__buttons buttons">
            {{ buttons(form.buttons)|raw }}
        </div>

    
</div>
