<h1 class='padding:1rem;background:red;color:#fff'>/Users/pixney/Development/Web/Ryan/vendor/anomaly/streams-platform/resources/views/form/partials/filter.twig</h1>
<input
        value="{{ field_type.value }}"
        name="{{ field_type.getInputName() }}"
        class="form-control {{ field_type.class }}"
        type="{{ field_type.config.type ?: 'text' }}"
        placeholder="{{ trans(field_type.placeholder) }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>
