<ul class="m-nav nav nav-tabs {{ stacked ? 'flex-column -stacked' }}" role="tablist">
    {% spaceless %}
        {% for slug, tab in tabs %}
            <li class="nav-item">
                <a class="nav-link {{ loop.first ? ' active' }}" id="profile-tab" data-toggle="tab"
                    href="#tab-{{ form.options.prefix }}{{ tab.slug ?: slug }}" role="tab" aria-controls="profile"
                    aria-selected="false">
                    {{ tab.icon ? icon(tab.icon) }} {{ trans(tab.title) }}
                </a>
            </li>
        {% endfor %}
    {% endspaceless %}
</ul>

<div class="m-tab__content tab-content">
    {% for slug, tab in section.tabs %}
        <div class="tab-pane fade {{ loop.first ? 'active show' }}" id="tab-{{ form.options.prefix }}{{ tab.slug ?: slug }}" aria-labelledby="{{ trans(tab.title) }}">
            {% if tab.view %}
                {% include tab.view %}
            {% elseif tab.html %}
                {{ parse(tab.html)|raw }}
            {% elseif tab.rows %}
                {% include "streams::form/partials/rows" with {"rows": tab.rows} %}
            {% else %}
                {% if tab.fields is empty %}
                    <div class="form-group ">
                        {{ trans("streams::message.no_fields_available") }}
                    </div>
                {% else %}
                {% include "streams::form/partials/fields" with {"fields": tab.fields} %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
