<div {{ field_type.locale ? 'lang=' ~ field_type.locale }} class="
            m-field_group
            {{ form.hasErrors() ? form.hasError(field_type.input_name) ? 'has-danger has-error' : 'has-success' }}
            {{ field_type.input_name }}-field
            {{ field_type.slug }}-field_type
            {{ field_type.hidden ? 'hidden' }}
            ">
                   
            {% if field_type.object.label != false and field_type.config.disable_label != true %}
            <label class="m-field__label">
                {{ field_type.object.label|raw }}

                {% if field_type.required %}
                <span class="-required">*</span>
                {% endif %}

                {% if field_type.locale %}
                {% include "streams::form/partials/translations" %}
                {% endif %}
            </label>
            {% endif %}


            {% if field_type.instructions %}
            <p class="m-field__instructions">{{ field_type.instructions|raw }}</p>
            {% endif %}

            {% if field_type.warning %}
            <p class="m-field__warning">
                    {{ icon('warning') }}
                    {{ field_type.warning|raw }}
            </p>
            {% endif %}

           
            <div class="m-field__type">
                {{ field_type.getInput({'form': form})|raw }}
            </div>

           

</div>
